.container {
  height: calc(100vh - 64px - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  .info {
    text-align: center;
    button {
      height: 60px;
      font-size: 24px;
    }
  }
}
