.wrapper {
  margin-bottom: 12px;
  cursor: pointer;
  background-color: #f7f7f7;
  border-color: #ffff;
  padding: 12px;
  border-radius: 3px;
  &:hover {
    background-color: #d9d9d9;
  }
}
.component {
  pointer-events: none;
}
