.list-item {
  margin: auto;
  padding: 14px;
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  &:hover {
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out 0.2s; /* 2秒延迟 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
